.react_lightgallery_item {
    position: relative;
    cursor: zoom-in;

    .img {
        display: block;
        background-size: 150%;
        background-repeat: no-repeat;
        background-color: #f4f4f4;
    }

    img {
        position: relative;
        transition: 0.4s linear;
    }
}

.p-detailProduct {
    &__inner {
        padding: 100px 20px;
    }

    &__content {
        display: flex;
        align-items: flex-start;

        .img-product {
            width: 50%;
            overflow: hidden;
            position: relative;

            .slick-list {
                margin-bottom: 20px;
            }

            .slick-dots {
                display: flex;
                width: calc(100% + 20px);
                margin-left: -10px;

                li {
                    margin: 0 10px;
                    cursor: pointer;
                    transition: 0.5s;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }

        .content-product {
            width: 50%;
            padding: 0 0 0 50px;

            .ttl {
                font-size: 3.2rem;
                line-height: 1.3;
            }

            .rate {
                border-bottom: 1px solid #dfdfdf;
                display: flex;
                align-items: flex-end;
                padding-bottom: 15px;
                margin-bottom: 20px;

                .c-rate {
                    margin-right: 20px;
                    justify-content: flex-start;
                    margin-bottom: 0;
                }
            }

            .des {
                line-height: 1.8;
                margin-bottom: 20px;
            }

            .price {
                font-size: 3.4rem;
                line-height: 1.2;
                letter-spacing: 0.05em;
                margin-bottom: 20px;
                display: block;
                font-weight: 500;
            }

            .form-item {
                
                


            }

        }
    }

    &__end {}
}

.c-gallery {
    display: inline-block;
    font-size: 3rem;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}