.c-select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    width: 150px;
    height: 51px;
    margin-right: 20px;    
}

select {
    display: none;
}

.custom-select {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #9f78ff;
    border: 1px solid #9f78ff;        
    border-bottom: none;
    line-height: 1.4;
    padding: 8px 30px 8px 20px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.custom-select:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #9f78ff transparent transparent transparent;
    position: absolute;
    top: 22px;
    right: 10px;
    transform: rotateZ(0deg);
    transition: all 0.5s;
    transform-origin: 50% 25%;
}


.c-select.active .custom-select:after {
    transform: rotateZ(180deg);
    transition: all 0.5s;
    transform-origin: 50% 25%;
}

.custom-select:focus {
    outline: 2px;
}

.c-select-options {
    height: 0;
    max-height: 180px;
    overflow-y: auto;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;    
    border-radius: 0px 0px 5px 5px;
    transition: 0.5s;
    border: 1px solid #9f78ff;
    border-top: none;
    box-sizing: border-box;
    background: linear-gradient(#9f78ff,#9f78ff) no-repeat top left;
    background-size: 100% 1px;
    background-color: #fff;
}

.c-select-options li {
    color: #9f78ff;
    margin: 0;
    padding: 6px 0;
    border-bottom: 1px solid #dfdfdf88;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    padding-left: 15px;
    &:last-child{
        border-bottom: none;
    }
}

.c-select-options li:hover {
    background-color: #9f78ff;
    color: #fff;
}

.c-select-options li[rel="hide"] {
    display: none;
}

.c-select-options::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    border-radius: 0 0 5px 0;
}

.c-select-options::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #9f78ff;
}